.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabsContainer {
  width: 50%;
}
.icons {
  display: flex;
}
.add__icon {
  background-color: #002a5b;
}
.iconContainer {
  float: right;
  display: flex;
}
.icons {
  display: flex;
}
.modal__confirmation {
  float: right;
  display: flex;
  gap: 0.8rem;
}
